@backColor:pink;

//Í·²¿
li{
  list-style: none;
}

.m-hd{
  width: 100%;
  background-color: @backColor;
  h1{
    font-size: 18px;
    color: #fff;

  }
  .min-right{
    float: right;
    font-size: 24px;
  }
}
//Î²²¿
.my-footer{
 background-color: @backColor;
  a{
    p{
      margin-bottom: 1px;
    }
  }



}