.my-content{
  width: 100%;
  position: absolute;
  top: 44px;
  left: 0;
  bottom: 50px;
  .category-left{
    height: 100%;
    width: 80px;
    float: left;
    position: relative;
    .links{
      background-color: #fff;
      a{
        display: block;
        height: 45px;
        line-height: 45px;
        text-align: center;
        font-size: 14px;
        color: #000;
        border-bottom: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
      }
      .active{
        background-color: #F5f5f5;
        border-right: 1px solid transparent;
      }
    }

  }
  .category-right{
    position: relative;
    margin-left: 90px;
      width: 100%;
    height: 100%;
    .brand-list {

      width: 100%;
      margin-top: 10px;
      background: #FFF;
      height: 100%;
      li{
        list-style: none;
        width: 33.33%;
        float: left;
        a{
            display: block;

          img{
            width: 80%;;
          }
        }
        p{
          text-align: center;
        }
      }

        }
      }


}
