.my-content {
  width: 100%;
  position: absolute;
  top: 44px;
  left: 0;
  bottom: 50px;
}
.my-content .category-left {
  height: 100%;
  width: 80px;
  float: left;
  position: relative;
}
.my-content .category-right {
  position: relative;
  margin-left: 90px;
  height: 100%;
  width: 100%;
}
